[Unit]
Description=Gunicorn daemon for Django app
After=network.target

[Service]
Environment="DJANGO_SETTINGS_MODULE=core.settings"
User=ubuntu
WorkingDirectory=/home/ubuntu/toi
ExecStart=/home/ubuntu/toi/venv/bin/gunicorn -k gevent --workers 1 --timeout 30 --bind unix:/home/ubuntu/toi/app.sock core.wsgi:application

[Install]
WantedBy=multi-user.target